/* ==================================
/////////// G E N E R A L /////////// 
================================== */

:root {
  --main-blue-color: #186ccc;
  --main-red-color: #b61915;
  --main-gray-color: #55565a
}

* {
 overflow-x: hidden;
 margin: 0px;
 font-family: 'Poppins';
} /* ./General */


body {
  color: var(--main-gray-color);
  font-size: 1rem;
}
/* Components */


.btn { /* Buttons */
  border: none;
  padding: 8px 32px;
  text-decoration: none;
  cursor: pointer;
}

.btnForm {
  background: var(--main-blue-color);
  color: white;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .2);
  transition: all 0.3s ease-out;
}

.facebook {
  background-color:#4267B2;
  margin-right: 1rem;
  margin-top: 2.5px;
  width: 151px;
  vertical-align: middle;
}

.facebook:hover {
  background-color:#345089;
}

.btnSocial {
  display: block;
  color: white;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, .2);
  transition: all 0.3s ease-out;
  font-size: 12px;
  
  padding: 1px 12px 1px 12px !important;
  border-radius: 9999px;
  height: 28px;
  box-sizing: border-box;

  position: relative;

}

.btnSocial i {
  font-size: 14px;
  transform: translateY(5px);
}

.btnForm:hover, .btnSocial {
  box-shadow: none;
  transform: translateY(-2.5px);
}

.btnForm a {
  text-decoration: none;
  color: inherit;
}

input::placeholder {
  opacity: 0.5;
}

.padding-section {
  padding-left: 2rem;
  padding-right: 2rem;
}


/***************************************************************/
/* =========================================================== */
/* ////////////////////// N A V  B A R /////////////////////// */
/* =========================================================== */
/***************************************************************/

.topnav {
  overflow: hidden;
  background-color: var(--main-blue-color);
  position: fixed;
  width: 100vw;

  /* box-shadow: inset 0 -7px 0 var(--main-red-color); */
  z-index: 999;
  transition: all 0.3s ease-out;

}

.topnav a {
  /*float: right;*/
  display: inline-block;

  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;

  transition: all 0.3s ease-out;
}

.navBox {
  display: inline-block;
  float: right;
  height: 49px;
}

.topnav a:hover {
  background-color: var(--main-red-color);
  color: white
}

.topnav a.active {
  background-color: var(--main-gray-color);
  color: white;
}

.navBarIcon {
  display: none !important;
}

/* Drop Down */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  top: 49px;
  right: 0;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: var(--main-gray-color);
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  transition: all 0.3s ease-out;
}

.dropdown-content a:hover {
  background-color: var(--main-gray-color);
  color: white;
}

.show {display: block;}

@media screen and (max-width: 800px) {
  .topnav a {display: none;}
 

  .navBox {
    width: 100vw;
    height: auto
    
  }

  .navBarIcon {
    display: block !important;
    float: right;
  }

  .navBarIcon:hover {
    background-color: var(--main-blue-color) !important;
  }


  .dropdown-content {
    top: 295px;
    z-index: 999;
  }

}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    display: grid;
    grid-template-rows: 1fr;
    width: 100vw;

    transition: all 0.3s ease-out;
  }
  .topnav.responsive .navBarIcon {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }

  .topnav.responsive a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topnav.responsive a.active {
    background-color: var(--main-blue-color) !important;
  }

  .topnav.responsive a:first-child {
   
    padding-top: 4rem;

  }
}


/***************************************************************/
/* =========================================================== */
/* //////////////////// H O M E  P A G E ///////////////////// */
/* =========================================================== */
/***************************************************************/

/* ==================================
////////////// H E R O ////////////// 
================================== */
.website-logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
  width: 50px;
  height: 25px;
  background: var(--main-red-color);
  color: white;
  text-align: center;
  z-index: 999;
}


.section__hero {
  width: 100vw;
  background: center top no-repeat url(../img/img-hero.png);
  background-size: 100%;
  height: 50vh;
  display: grid;
  grid-template-columns: 2fr 250px 0.5fr;
}


/* Hero Form */
.section__hero-textbox {
  background: var(--main-red-color);
  height: 50vh;
  color: white;

  /* Center content */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__hero-textbox-content {
  padding-left: 1rem;
  padding-right: 1rem;

}

.section__hero-textbox-content h4 {
  font-size: 1rem;
  font-weight: 500;
}

.section__hero-form {
  margin-top: 2rem;
}

.section__hero-form  input[type=text] {
  text-align: center;
  width: 100px;
 
}
/* ./Hero Form */

/* Hero Features*/
.section__hero-features {
  text-align: left;
  width: 150px;
  margin-top: 1rem;
}

.section__hero-features p {
  font-size: 0.6rem;
}


.section-textbanner {
  background: var(--main-blue-color);
  font-weight: 500;
  padding: 5px;
  color: white;
  width: 100vw;
  text-align: center;
} /* ./Section Hero */




/* ==================================
///////////// S T E P S ///////////// 
================================== */

.section__steps-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/* Steps Description */
.section__steps-description {
  font-weight: 500;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.section__steps-icon span {
  background: var(--main-blue-color);
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.section__steps-icon p {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

/* ==================================
///////////// I N F O ///////////// 
================================== */

.section__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  margin-top: 2.5rem;
  background: var(--main-blue-color);
}

.section__info h1 {
  margin-bottom: 2rem;
}

.section__info-about, .section__info-health {
  padding-top: 2rem;
  padding-bottom: 2rem; 
  color: white;
}


.section__info-health a {
  color: white;
}



/***************************************************************/
/* =========================================================== */
/* ////////////////// S T E P S  P A G E S /////////////////// */
/* =========================================================== */
/***************************************************************/

/* ==================================
////////// S T E P S  B A R ///////// 
================================== */

.section__stepsbar-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 2rem;
}

.section__stepsbar-icon span {
 background: var(--main-gray-color);
  color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
}

.section__stepsbar-icon p {
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 500;
}

.step-completed {
  opacity: 0.5;
}

.current-step {
  background: var(--main-blue-color) !important; 
}

/* ==================================
////// P R O G R E S S  B A R /////// 
================================== */
.section__progressbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 3rem;

}
.section__progressbar-box {
  height: 25px;
  width: 100%;
  border: 2px solid var(--main-blue-color);
}

.section__progressbar-filled {
  background: var(--main-blue-color);
  height:25px;
  
  transform: translateY(-25px);
}

.section__progressbar-fill{
  background: var(--main-blue-color);
  height:25px;
  
  opacity: 0.5;
}


/* ==================================
////// S T E P  F O R M /////// 
================================== */

.section__step-form {
  margin-top: 2rem;
}

.section__step-form  input[type=text],
.section__step-form  input[type=number] {
  text-align: center;
  width: 50%;
}


/* ==================================
//////////// T H A N K S //////////// 
================================== */

.section__thanks-features {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section__thanks-f {
  text-align: left;
}


/***************************************************************/
/* =========================================================== */
/* //////////////// R E F E R E A L  P A G E ///////////////// */
/* =========================================================== */
/***************************************************************/

.section__referral-share {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

  